<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>com.escom.controlador.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>com.escom.controlador.ServletRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCiudadano</servlet-name>
        <servlet-class>com.escom.controlador.ServletCiudadano</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGenerarReporte</servlet-name>
        <servlet-class>com.escom.controlador.ServletGenerarReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarReporte</servlet-name>
        <servlet-class>com.escom.controlador.ServletGuardarReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaReportes</servlet-name>
        <servlet-class>com.escom.controlador.ServletListaReportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdmin</servlet-name>
        <servlet-class>com.escom.controlador.ServletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaReportesCreados</servlet-name>
        <servlet-class>com.escom.controlador.ServletListaReportesCreados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarReporte</servlet-name>
        <servlet-class>com.escom.controlador.ServletActualizarReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistrarEmpresa</servlet-name>
        <servlet-class>com.escom.controlador.ServletRegistrarEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaEmpresas</servlet-name>
        <servlet-class>com.escom.controlador.ServletListaEmpresas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizacion</servlet-name>
        <servlet-class>com.escom.controlador.ServletActualizacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/ServletRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCiudadano</servlet-name>
        <url-pattern>/ServletCiudadano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGenerarReporte</servlet-name>
        <url-pattern>/ServletGenerarReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarReporte</servlet-name>
        <url-pattern>/ServletGuardarReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaReportes</servlet-name>
        <url-pattern>/ServletListaReportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdmin</servlet-name>
        <url-pattern>/ServletAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaReportesCreados</servlet-name>
        <url-pattern>/ServletListaReportesCreados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarReporte</servlet-name>
        <url-pattern>/ServletActualizarReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistrarEmpresa</servlet-name>
        <url-pattern>/ServletRegistrarEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaEmpresas</servlet-name>
        <url-pattern>/ServletListaEmpresas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizacion</servlet-name>
        <url-pattern>/ServletActualizacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
